# auto populates after running `make deploy`
NEXT_PUBLIC_SAVING_CIRCLES_CONTRACT_ADDRESS=
NEXT_PUBLIC_SAVING_CIRCLES_VIEWER_CONTRACT_ADDRESS=
NEXT_PUBLIC_BREAD_TOKEN_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=100
NEXT_PUBLIC_SAVING_CIRCLES_CONTRACT_CREATION_BLOCK=

NEXT_PUBLIC_NODE_ENV=local

NEXT_PUBLIC_DEPOSIT_INTERVALS='[
  {"id":"5mins","label":"5 minutes","seconds":300},
  {"id":"10mins","label":"10 minutes","seconds":600},
  {"id":"30mins","label":"30 minutes","seconds":1800},
  {"id":"1day","label":"1 day","seconds":86400,"unit":"day"},
  {"id":"3days","label":"3 days","seconds":259200},
  {"id":"1week","label":"weekly","seconds":604800,"description":"7 days"},
  {"id":"2weeks","label":"2 weeks","seconds":1209600,"description":"14 days"},
  {"id":"3weeks","label":"3 weeks","seconds":1814400,"description":"21 days"},
  {"id":"1month","label":"monthly","seconds":2592000,"description":"30 days"}
]'

# https://dashboard.walletconnect.com/sign-in
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# https://www.alchemy.com/
NEXT_PUBLIC_ALCHEMY_API_KEY_ETHEREUM_MAINNET=

# https://spoo.me/
SPOO_TOKEN= 

# https://console.upstash.com/auth/sign-in
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# https://dashboard.privy.io/
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=

# https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
